version: '3.2'

services:

#================================================================================================
# MEMCACHED
#================================================================================================
  memcached:
    restart: always
    build:
      context: .
    ports:
      - "8111:11211"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./cache/memcached:/tmp/data                        # volume for data
    environment:
      - MEMCACHED_VERSION=1.5.7
